@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar {
	font-family: 'Nanum Gothic', serif;
}

.modal {
	font-family: 'Nanum Gothic', serif;
}

h1 {
	font-family: 'Nanum Gothic', serif;
}

h2 {
	font-family: 'Nanum Gothic', serif;
}

h3 {
	font-family: 'Nanum Gothic', serif;
}

h4 {
	font-family: 'Nanum Gothic', serif;
}

body {
	margin: 0;
	padding: 0;
}

#emptyspace {
	height: 50px;
}
